<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                  class="h-16 w-16 lg:h-24 lg:w-24 rounded-full border border-white/10"
                  src="/images/avatar.jpg"
                  alt="image"
                />
                <span
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"></span>
              </div>
            </div>

            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">Carlo Nölle</h1>
              <p class="text-sm font-light text-neutral-500">
                Software Engineer in Cologne
              </p>
              <p>
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white"
                  href="#">carlonoelle.de</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="mt-24 text-sm font-light">
          <p class="text-black dark:text-white">About</p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              For the past 7 years I have been hands on with real world problem
              solving in enterprise and sideproject IT needs. My interest in
              programming started besides school, when I was 14 years old.
              Starting at age 16, i could work part time as a software developer
              @ TIMETOACT, where I was able to gain a lot of experience in the
              field of software development.
            </p>
            <p>
              My speciality is in the field of web and mobile development, where
              I have been working with a wide range of technologies and
              frameworks. My main focus is on React with NextJS, React Native
              and NodeJS, all of which written in TypeScript. Databases i use
              regularely are PostgreSQL and MongoDB. To complete the buzzword
              bingo, i also have experience with Docker, Kubernetes, AWS, Azure,
              GCP (my favorit), CI/CD, Terraform, Serverless, and many more. I
              do not like PHP or any more low level languages, since i want to
              iterate fast and stay cutting edge generally.
            </p>
            <p>
              I am skilled in project management through agile methodologies
              (SCRUM), used to work in a team and have basic to advanced
              experience with the most industry relevant tools out there like
              Jira, Confluence, Gitlab, Github, Slack, Teams, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
