---
function calculateYears(beginning) { // beginning is a date
   var ageDifMs = Date.now() - beginning;
   var ageDate = new Date(ageDifMs); // miliseconds from epoch
   return Math.abs(ageDate.getUTCFullYear() - 1970);
 }
---

<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                  class="h-16 w-16 lg:h-24 lg:w-24 rounded-full border border-white/10"
                  src="/images/avatar.jpg"
                  alt="image"
                />
                <span
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"></span>
              </div>
            </div>

            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">Carlo Nölle</h1>
              <p class="text-sm font-light text-neutral-500">
                Software Engineer in Cologne
              </p>
              <p>
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white"
                  href="#"
                  data-umami-event="website-click"
                  data-umami-event-url="carlonoelle.de">carlonoelle.de</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="mt-24 text-sm font-light">
          <p class="text-black dark:text-white">About</p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              Over the past {calculateYears(1468188000000)} years, I have gained hands-on experience in solving real-world IT problems through 
              both enterprise projects and side projects. My interest in programming began when I was 14 years old, 
              and by the age of 16, I started working part-time as a software developer at TIMETOACT. After high school, 
              I began my apprenticeship and studies, continuing to work full-time during and after that period. Since 
              then, I have accumulated substantial experience in software development.
            </p>
            <p>
              My expertise lies in web and mobile development, utilizing a wide range of technologies 
              and frameworks. I primarily focus on React with Next.js, React Native, and Node.js, all 
              written in TypeScript. The databases I commonly use are PostgreSQL and MongoDB. Additionally, I 
              have experience with Docker, Kubernetes, AWS, Azure, GCP, CI/CD, Terraform, Serverless, 
              and many other technologies or tools.
            </p>
            <p>
              I am proficient in project management through agile methodologies (SCRUM), 
              accustomed to working in teams, and have basic to advanced experience 
              with industry-standard tools such as Jira, Confluence, GitLab, GitHub, Slack, Teams, and more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
