---
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-white dark:bg-black">
    <slot />
    <script
      defer
      src="/stats/script.js"
      data-website-id="5b77164c-10a0-4160-8891-dd2cc20dd92c"></script>
  </body>
</html>
